<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Your Guess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" id="theme-style" href="{{ url_for('static', filename='css/light.css') }}">
</head>

<body>
    <button onclick="toggleTheme()">Toggle Dark Mode</button>
    <div class="container mt-5 position-relative">
        <a href="/" class="btn btn-secondary position-absolute top-0 end-0 m-3">Main Menu</a>
        <h1>Guess a number between 1 and {{ session['max_number'] }}</h1>
        {% if not game_over %}
        <form action="" method="post" class="mb-3">
            <div class="input-group mb-3">
                <input type="number" name="guess" class="form-control" placeholder="Enter your guess" required>
                <button class="btn btn-primary" type="submit">Submit Guess</button>
            </div>
        </form>
        {% endif %}
        <p>{{ message }}</p>
        {% if not game_over %}
        <p>Attempts left: {{ session.get('attempts', 0) }}</p>
        {% endif %}
        {% if game_over %}
        <a href="/" class="btn btn-success">Start New Game</a>
        {% endif %}
    </div>
    <script>
        window.onload = function () {
            var theme = localStorage.getItem('theme');
            var themeLink = document.getElementById("theme-style");
            if (theme) {
                themeLink.href = theme;
            }
        };

        function toggleTheme() {
            var themeLink = document.getElementById("theme-style");
            if (themeLink.getAttribute("href") == "{{ url_for('static', filename='css/light.css') }}") {
                themeLink.href = "{{ url_for('static', filename='css/dark.css') }}";
                localStorage.setItem('theme', "{{ url_for('static', filename='css/dark.css') }}");
            } else {
                themeLink.href = "{{ url_for('static', filename='css/light.css') }}";
                localStorage.setItem('theme', "{{ url_for('static', filename='css/light.css') }}");
            }
        }
    </script>
</body>

</html>